fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
passlib
pyjwt
email-validator
cloudinary
python-multipart
slowapi
pydantic-settings
python-jose
passlib[bcrypt]
python-dotenv
pytest
requests
